/* 
font-family: 'Source Sans Pro', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* header part */
header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #16151b;
    opacity: .8;
    z-index: -1;
}
.navbar-light .navbar-nav .nav-link{
    color: #fffefe;
    position: relative;
    padding: 0;
    margin-left: 25px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #008ed6;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: #008ed6;
    height: 2px;
    width: 0%;
    transition: .4s all ease;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 48%;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -4px;
    background-color: #008ed6;
    height: 2px;
    width: 0%;
    transition: .4s all ease;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 48%;
}
header h5{
    color: #008ed6;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
header h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin: 8px 0 17px 0;
}
header p{
    color: #999999;
    font-size: 18px;
}
.btn-download{
    background: #008ED6;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 23px;
    transition: .4s all ease;
}
.btn-download:hover{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #999999;
}
.btn-features{
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #999999;
    padding: 10px 23px;
    transition: .4s all ease;
}
.btn-features:hover{
    background: #008ed6;
    color: #ffffff;
    border-color: transparent;
}
.height{
    min-height: 93vh;
    align-items: center;
}
.phone{
   position: absolute;
   bottom: 0;
   left: 56%;
}
/* features part */
.features h4{
    font-weight: 700;
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.features h1{
    margin: 8px 0 30px 0;
    font-size: 36px;
    font-weight: 600;
}
.features span{
    display: block;
    width: 70px;
    height: 2px;
    margin: auto;
    position: relative;
}
.features span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #008ed6;
    transition: .5s all ease;
}
.features span::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #008ed6;
    transition: .4s all ease;
}
.features:hover span::before{
    width: 48%;
}
.features:hover span::after{
    width: 48%;
}
.features h2{
    margin: 20px 0 8px 0;
    font-size: 24px;
    color: #1a1a1a;   
}
.features p{
    font-size: 18px;
    color: #999999;
}
.icon_box{
    height: 80px;
    width: 80px;
    margin: auto;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s all ease;
    cursor: pointer;
}
.icon_box i{
    color: #008ed6;
    font-size: 24px;
}
.tv i{
    font-size: 18px;
}
.icon_box:hover i{
    color: #ffffff;
}
.icon_box:hover{
    background-color: #008ed6;
    border-color: transparent;
}
/* line part */
.line span{
    display: block;
    height: 1px;
    width: 100%;
    background: #e0e0e0;
}
/* device part */
.device_section{
    align-items: center;
}
.device p{
    margin: 20px 0 30px 0;
}
.device h4{
    font-weight: 700;
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.device h1{
    margin: 8px 0 20px 0;
    font-size: 36px;
    font-weight: 600;
}
.device span{
    display: block;
    width: 70px;
    height: 2px;
    position: relative;
}
.device span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #008ed6;
    transition: .5s all ease;
}
.device span::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #008ed6;
    transition: .4s all ease;
}
.device:hover span::before{
    width: 48%;
}
.device:hover span::after{
    width: 48%;
}
.device i{
    color: #008ed6;
    width: 25px;
}
.device h6{
    color: #1b1b1b;
    font-size: 17px;
    margin-bottom: 10px;
}
/* customize part */
.customize{
    background-color: #F2F2F2;
}
.device{
    align-items: center;
}
/* testimonial part */
.testimonial{
    background-image: url(../images/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
.testimonial::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #16151b;
    opacity: .8;
    z-index: -1;
}
.testimonial h1{
    color: #fffefe;
}
.testimonial p{
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
}
.testimonial h5{
    color: #ffffff;
    letter-spacing: 1px;
}
.testimonial h6{
    color: #ffffff;
}
.clients{
    display: flex;
    align-items: center;
}
.client_img img{
    border-radius: 50%;
}
.owl-dots{
    display: block;
    text-align: center;
}
.owl-dots .owl-dot span{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #999999;
}
.owl-dots .active span{
    height: 13px;
    width: 13px;
    background: #ffffff;
}
/* theme part */
.theme{
    background: #15141a;
}
.themes{
    align-items: center;
}
.theme h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1PX;
}
.theme span{
font-weight: 600;
}
/* pricing part */
.price_table{
    border: 1px solid #e0e0e0;
    border-radius: 3px;  
}
.price_table h2{
    border-bottom: 1px solid #e0e0e0;
    padding: 30px 0;
    font-size: 24px;
    font-weight: 700;
}
.price_table p{
    color: #999999;
    font-size: 18px;
}
.price{
    border-bottom: 1px solid #e0e0e0;
}
.price h1{
    font-size: 60px;
    font-weight: 600;
}
.price h1 sup{
    font-size: 30px;
}
.btn-buy{
    color: #008ed6;
    border: 1px solid #e0e0e0;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 35px;
}
.price_table:hover h2{
    color: #008ed6;
}
.price_table:hover .price, .price_table:hover .btn-buy{
    background-color: #008ed6;
    color: #ffffff;
    border-color: #008ed6;
}
.price_table:hover .price p{
    color: #ffffff;
}
.price_table span{
    color: #008ed6;
}
/* contact part */
.contact{
    padding: 80px 0 370px 0;
    background-color: #EDEDED;
    position: relative;
}
.contact_form{
    background-color: #15141a;
    padding: 60px;
    position: absolute;
    bottom: -60px;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
}
.contact_form form input{
    background: transparent;
}
.contact_form form textarea{
    background: transparent;
}
.contact_form form input[type="submit"]{
    color: #ffffff;
    background: #008ed6;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;font-size: 14px;
}
.contact_form form input::placeholder, .contact_form form textarea::placeholder{
    font-size: 14px;
    font-weight: 600;
}
input, textarea{
    caret-color: #008ed6;
    color: #ffffff !important;
}
input:focus, textarea:focus{
    background-color: transparent !important;
    border-color: #ffffff !important;
    outline: 0;
    box-shadow: none !important;
}
/* maps part */
.map{
    display: flex;
}
/* footer part */
footer{
    background-color: #15141a;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
footer ul li{
    padding: 20px 20px;
    color: #525156;
    cursor: pointer;
    transition: .4s all ease;
}
footer ul li:hover{
    color: #008ed6;
}
footer ul li .fa-twitter{
    color: #008ED6;
    transition: .4s all ease;
}
footer ul li:hover .fa-twitter{
    color: #525156;
}
footer p{
    text-align: center;
    color: #525156;
    text-transform: uppercase;
}